@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	width: 100%;
}


.justify-evenly {
	justify-content: space-evenly;
}

.cursor-pointer {
	cursor: pointer;
}


@import "~tachyons/css/tachyons.css";