@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

html, body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	width: 100%;
}


.justify-evenly {
	justify-content: space-evenly;
}

.cursor-pointer {
	cursor: pointer;
}

.loading {
	border: 8px solid #f3f3f3; 
	border-top: 8px solid blue; 
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation: spin 2s linear infinite;
}

	
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@import "~tachyons/css/tachyons.css";